:root {
  --bg-gradient: linear-gradient(to bottom, #34495e, #2e4761, #284465, #224268, #1e3f6b, #1a3b66, #173762, #13335d, #0f2d50, #0e2743, #0d2136, #0d1b2a);
  --moonlight: #E1E2E1;
  --midnight-sky: #34495E;
  --deep-ocean: #1B3B6F;
  --noir: #0D1B2A;
  
  --primary-color: #7494ec;
  --input-bg: #eee;
  --text-color: #eee;
  --text-light: #888;
  --white: #fff;
  --border-color: #ccc;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --input-shadow: rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-gradient);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}