.header {
  top: 0;
  position: sticky;
  height: 60px;
  width: 100dvw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--grey-light);
}

.logoText {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: var(--moonlight);
  padding-left: 20px;
  letter-spacing: -0.02em;

  svg {    
    font-size: 30px;
    margin-right: 10px;
  }

  span {
    color: var(--blue-light);
  }
}

.btns {
  padding-right: 20px; 
}

.btnLogin {
  border: 2px solid var(--blue-light);
  padding: 12px 24px;
  right: 20px;
  border-radius: 6px;
  background: transparent;
  transition: .3s;
  margin-right: 20px;

  a {
    font-size: 16px;
    color: var(--blue-light);
    text-decoration: none;
  }
}

.btnLogin:hover {
  background: var(--blue-light);

  a {
    color: white;
  }
}

.btnSignup {
  border: 2px solid var(--blue-light);
  padding: 12px 24px;
  border-radius: 6px;
  background: var(--blue-light);
  transition: .3s;

  a {
    font-size: 16px;
    color: white;
    
    text-decoration: none;
  }
}

.btnSignup:hover {
  background: transparent;  

  a {
    color: var(--blue-light);
  }
}