.socialIcons {  
  margin: 20px 0;

  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: 2px solid var(--grey-light);
    border-radius: 8px;
    font-size: 24px;
    color: var(--grey-light);
    margin: 0 5px;

    &:hover {
      border-color: var(--noir);
      color: var(--noir);
      background: rgba(var(--noir), 0.1);
    }
  }
}