:root {  
  --bg-gradient: linear-gradient(to right bottom, #34495e, #2c4663, #244367, #1e3f6b, #1b3b6f);
  
  --moonlight: #E1E2E1;
  --midnight-sky: #34495E;
  --deep-ocean: #1B3B6F;
  --noir: #0D1B2A;
  
  --primary-color: #7494ec;
  --grey-light: #536878;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}